@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
}

html,
body {
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin: 0px;
  background-color: var(--white-x);
  margin-bottom: 2rem;
}

/* Global Styles */
ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: capitalize;
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container{
  position: relative;
  min-height: 100vh;
}

.loading{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.middle-wrapper{
  margin-top: 1.5rem;
  padding-bottom: 4.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .search__post{
    width: 250px;
    border-radius: 5px;
    padding: .5rem .4rem;
  }

  .show__text{
    font-size: .7rem;
    margin-top: .2rem;
    color: var(--light-gray);
  }
}